* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.product {
  display: inline-block;
  background: #dfd5d5;
  border: 2px solid black;
  border-radius: 20px;
  margin: 5px;
  padding: 10px 10px;
  cursor: pointer;
  width: 25%;
  height: 150px;
  text-align: center;
}
.product.img {
  size: 200px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.add-form {
  margin-bottom: 40px;
}

.form {
  margin: 10px 0;
}

.form input {
  width: 40%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

